
params {
    simulate_fastq_directly = true
    pipeline = "metagenomic"


    // ================================================================================
    // Modified based on `metagenomic.config`
    // ================================================================================

    outdir = "output"
    size = 0.05
    type="art"
    number_of_samples=10
    gsa = true
    pooled_gsa = true
    anonymization = true
    seed = 632741178
    biom_profile=""
    genome_locations_file = "${launchDir}/input/genome_to_id_virnest_filter_id.tsv"
    ncbi_taxdump_file = "${launchDir}/input/taxdump.tar.gz"
    metadata_file = "${launchDir}/input/metadata_virnest_filter_id.tsv"
    max_strains_per_otu=1


    // ================================================================================
    // Modified based on `art.config`
    // ================================================================================

    profile_read_length=150
    fragment_size_mean = 270
    fragment_size_sd = 27
    base_profile_name="${projectDir}/tools/art_illumina-2.3.6/profiles/ART_MBARC-26_HiSeq_R"


    // ================================================================================
    // Modified based on `profile.config`
    // ================================================================================
    // reference_genomes="${launchDir}/assets/assembly_summary_complete_genomes.txt"
    reference_genomes=""

    no_replace = true
    fill_up = false
    additional_references=""


    // ================================================================================
    // Modified based on `distribution.config`
    // ================================================================================

    distribution_files="${launchDir}/input/abundancesample*.txt"
    just_community_design = false
    // mode can be replicates/timeseries_lognormal/timeseries_normal/differential
    mode="differential"
    log_mu = 1
    log_sigma = 2
    gauss_mu = 1
    gauss_sigma = 1
    verbose = "False"
    genomes_total=2
    genomes_real=2
    id_to_gff_file=""
    strain_simulation_template="${projectDir}/scripts/sgEvolver/simulation_dir"


    // ================================================================================
    // Modified based on `conda.config`
    // ================================================================================
    // conda.enabled = true
    // conda.useMamba = true
    // This parameter can be used to define a custom conda cache.
    // If none is defined, nextflow will create it in the work directory.
    // Note, that the directory has to exist before running the pipeline.
    // conda.cacheDir="${launchDir}/condaenvs"
}
