profiles {
    // The following settings are used by the denglab cluster. Please change them to fit your cluster.
    // ex. binding path for singularity and charliecloud, queue name, clusterOptions, time limit, etc.

    debug { process.beforeScript = 'echo $HOSTNAME' }
    standard {
        process.executor       = 'local'
        process.cpus           = 1
        process.memory         = 1.GB
    }

    conda {
        params.enable_conda    = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    apptainer {
        apptainer.enabled      = true
        apptainer.autoMounts   = true
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        process.container = "/ictstr01/project/genomics/jru/singularity/jinlongru-camisim2.img"
        apptainer.runOptions = "--writable-tmpfs -B /ictstr01 -B /ictstr01/home/viro/jinlong.ru -B /lustre/scratch/users/jinlong.ru"
    }
    podman {
        podman.enabled         = true
        docker.enabled         = false
        singularity.enabled    = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    shifter {
        shifter.enabled        = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        charliecloud.enabled   = false
    }
    charliecloud {
        charliecloud.enabled   = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
    }
}


params {
    simulate_fastq_directly = true
    pipeline = "metagenomic"


    // ================================================================================
    // Modified based on `metagenomic.config`
    // ================================================================================

    outdir = "output"
    size = 0.05
    type="art"
    number_of_samples=6
    gsa = true
    pooled_gsa = true
    anonymization = true
    seed = 632741178
    biom_profile="${launchDir}/input/test.biom"
    genome_locations_file = "${launchDir}/input/genome_to_id_virnest_filter.tsv"
    ncbi_taxdump_file = "${launchDir}/input/taxdump.tar.gz"
    metadata_file = "${launchDir}/input/metadata_virnest_filter.tsv"
    max_strains_per_otu=1


    // ================================================================================
    // Modified based on `art.config`
    // ================================================================================

    profile_read_length=150
    fragment_size_mean = 270
    fragment_size_sd = 27
    base_profile_name="${projectDir}/tools/art_illumina-2.3.6/profiles/ART_MBARC-26_HiSeq_R"


    // ================================================================================
    // Modified based on `profile.config`
    // ================================================================================
    // reference_genomes="${launchDir}/assets/assembly_summary_complete_genomes.txt"
    reference_genomes=""

    no_replace = true
    fill_up = false
    additional_references=""


    // ================================================================================
    // Modified based on `distribution.config`
    // ================================================================================

    //distribution_files="${launchDir}/assets/distribution_*.txt"
    just_community_design = false
    // mode can be replicates/timeseries_lognormal/timeseries_normal/differential
    mode="differential"
    log_mu = 1
    log_sigma = 2
    gauss_mu = 1
    gauss_sigma = 1
    verbose = "False"
    genomes_total=2
    genomes_real=2
    id_to_gff_file=""
    strain_simulation_template="${projectDir}/scripts/sgEvolver/simulation_dir"


    // ================================================================================
    // Modified based on `conda.config`
    // ================================================================================
    conda.enabled = true
    conda.useMamba = true
    // This parameter can be used to define a custom conda cache.
    // If none is defined, nextflow will create it in the work directory.
    // Note, that the directory has to exist before running the pipeline.
    conda.cacheDir="${launchDir}/condaenvs"
}
